<div class="form-container">
  <h2>{{ modoEdicao ? 'Editar Cliente' : 'Dados Pessoais' }}</h2>
  
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field appearance="fill" class="full-width">
      <label>Nome</label>
      <input matInput formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <label>Email</label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <label>CPF</label>
      <!-- Impede digitar letras e limita a 11 números -->
      <input matInput formControlName="cpf" maxlength="11" (keypress)="somenteNumeros($event)" >
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <label>Data Nascimento </label>
      <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <label>UF</label>
      <mat-select formControlName="uf">
        <mat-option *ngFor="let uf of ufs" [value]="uf">{{ uf }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <label>Município</label>
      <!-- Transformado em input livre -->
      <input matInput formControlName="municipio">
    </mat-form-field>

    <div class="botoes-acao">
      <button mat-raised-button color="primary" type="submit">
        {{ modoEdicao ? 'Atualizar' : 'Salvar' }}
      </button>
      <button mat-raised-button color="warn" type="button" (click)="limpar()">
        Limpar
      </button>
    </div>